<div class="row div_usuarios">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="form-group">
			<label class="" for="edt_usuario">Usuario</label>
			<input type="text" id="edt_usuario" maxlength="150" class="edt_usuario form-control">
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="form-group">
			<label class="" for="edt_senha">Senha</label>
			<input type="password" id="edt_senha" maxlength="10" class="edt_senha form-control">
		</div>
	</div>
</div>

<div class="row div_usuarios">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
		<button class="btn btn-default btn_entrar" style="width: 50%;">Entrar</button>
	</div>
</div>