<div class="modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close btn_cancelar" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Cadastro de Servico</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group">
							<label for="edt_nome_servico">Nome</label>
							<input type="text" maxlength="150" id="edt_nome_servico" class="edt_nome_servico form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger hidden pull-left btn_excluir">Excluir</button>
				<button type="button" class="btn btn-default btn_cancelar">Cancelar</button>
				<button type="button" class="btn btn-primary btn_salvar">Salvar</button>
			</div>
		</div>
	</div>
</div>
